{% extends 'schedule/adminstart.html' %}
{% block content %}
<br><br><br>
	<div  class="row">
    <div class="col-sm-2"></div>
  
    <div class="col-md-6">
     <div class="card" style="width: 120%;">
    <div class="card-header text-center text-primary" ><h3>ADD&nbsp;ROOM</h3></div>
	<form action="{% url 'addroom' %}" method="POST">
		{% csrf_token %}
     <div class="card-body text-center">
     <label class="formspace">ROOM&nbsp;NO&nbsp;:</label>
     <input type="text" placeholder="Enter roomno" name="rno" required>
     <br>
    <label class="formspace">ROOM&nbsp;CAPACITY&nbsp;:</label>
    <input type="number" placeholder="Enter room capacity" name="rcd" required>
    <br>
    <label class="formspace">DEPARTMENT&nbsp;:</label>
    <select name = "department" >
          <option>CSE</option>

          <option>ECE</option>
          <option>EEE</option>
          <option>IT</option>
        </select>
  
   <br>
    <label class="formspace">STATUS&nbsp;:</label>
    <select name = "st" >
           <option>y</option>
           <option>n</option>

           
    </select>
   
   <br>
</div>
<div class="card-footer text-center">
	 <button class="btn btn-success">ADD&nbsp;ROOM</button>
	</div>
</form>
</div>
</div>
</div>
    {% endblock content %}