{% extends 'schedule/adminstart.html' %}
{% block content %}
 <br><br><br>
 <div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-4">
   <div class="card" style="width: 180%">
    <div class="card-header text-center text-primary " >
      <h4>Add&nbsp;Schedules</h4></div>
    <form action="{% url 'addtt' %}" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
    <div class="card-body text-center">

     <label class="formspace">SCHEDULE&nbsp;:</label>       {{form.Schedule}}<br>
     <label style="margin-right: 30px">SECTION&nbsp;:</label>{{form.Section}}<br>
    <label class="formspace">BRANCH&nbsp;:</label>           {{form.Branch}}<br>
    </div>

    <div class="card-footer text-center" ><button class="btn btn-primary">ADD</button></div>
    
    </form>
   </div>
  </div>
 </div>
 
{% endblock content %}
