{% extends 'schedule/adminstart.html' %}
{% block content %}
<br><br><br>
 <div  class="row">
  <div class="col-sm-2"></div>
  
  <div class="col-md-6">
   <div class="card" style="width:120%">
      <div class="card-header text-center text-primary" ><h4>ASSIGN FACULTY HERE</h4></div>
     <form action="{% url 'assignfac' x.id %}" method="POST">
          {% csrf_token %}
      <div class="card-body text-center">
            <h3>ENTERED EXAM ID IS:&nbsp;{{ x.id }}</h3>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>SUBJECT&nbsp;:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ x.subject }}<br>
            <label >DEPARTMENT&nbsp;:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ x.dept }}<br>
            
                  
            <br>
             <label class="inden">ROOM : </label>
              
                    <select name="room" id="id">
                      <option selected></option>
      	            {% for i in z %}
                    <option >{{ i.roomno}}</option>
                    {% endfor %}
                    </select>
           <br>

          <label class="inden">FACULTY&nbsp;1:  </label> 
                
                      <select name="fna1" id="id">
                         
                         {% for i in y %}
                         <option >{{ i.fname }}</option>
                        {% endfor %}
                      </select>
            <br>
            <label class="inden">SUPERINTENDENT&nbsp;:  </label> 
                
                      <select name="fna2" id="id">
                       <!---<option selected></option>-->
                         {% for i in s %}
                         <option >{{ i.fname }}</option>
                        {% endfor %}
                      </select>
            <br>
            <label class="inden">DEPUTY CHIEF&nbsp;:  </label> 
                
            <select name="fna3" id="id">
             <!---<option selected></option>-->
               {% for i in dc %}
               <option >{{ i.fname }}</option>
              {% endfor %}
            </select>
  <br>
       <!--<label class="inden">SEMESTER :  </label>
       <input type="text" name="sem" placeholder="enter semester ('1-2') ">
      <br>
       <label class="inden">SUBJECT :</label>
       <input type="text" name="sub" placeholder="enter subject ">
       <br>
         <label class="inden">DEPARTMENT :</label>

         <select name = "dept" id ="dept">
           <option>CSE</option>

           <option>ECE</option>
           <option>EEE</option>
           <option>IT</option>
         </select>-->
         
        
      
   <br>
       </div>
    <div class="card-footer text-center" >
      <a href="{% url 'adminpage' %}" <button class="btn btn-warning" >Go&nbsp;Back</button></a>
      <button class="btn btn-primary">ADD</button>&nbsp; &nbsp;  &nbsp;
      <a href="{% url 'timetable' %}" <button class="btn btn-info" >PREVIEW</button></a>
    </div>
       
    </form>
    </div>
  </div>
 </div>
 

{% endblock content %}