{% extends 'schedule/adminstart.html' %}
{% block content %}
<br>
<table class="mytable">
  <thead>
    <tr>
    <!--  <th>EXAM&nbsp;Id</th>-->
     <th>EXAM&nbsp;&nbsp;DATE</th>
     <th>EXAM&nbsp;&nbsp;TIME</th>
     <th>Invigilator&nbsp;</th>
     <th>Superintendant&nbsp;</th>
     <th>DEPUTY CHIEF&nbsp;</th>
     <th>ROOMNO</th>
    <!-- <th>SUBJECT</th>-->
     <th>DEPARTMENT</th>
     <!--<th>SEMESTER</th>-->

    </tr>
  </thead>

 
  <tbody>
    {% for i in data %} 
    <tr>
      <!--<td data-column="EXAM_Id">{{ i.ex.id}}</td>-->
      <td data-column="EXAM__DATE">{{ i.exam_date }}</td>
      <td data-column="TIME">{{ i.exam_stime }}</td>
      <td data-column="Invigilator&nbsp;1">{{ i.Invigilator }}</td>
      <td data-column="Invigilator&nbsp;2">{{ i.Superintendent}}</td>
      <td data-column="Deputy">{{i.Deputy}}</td>
      <td data-column="ROOMNO">{{ i.Room }}</td>
      <!--<td data-column="SUBJECT">{{ i.ex.subject }}</td>-->
      <td data-column="DEPARTMENT">{{ i.Department }}</td>
      <!--<td data-column="SEMESTER">{{ i.ex.semester }}</td>-->
      
      <!--<td data-column="EDIT"><a href="{% url 'automatic'  %}"><i class="fa fa-edit" style="font-size: 25px;color:#0d7377" ></i></a></td>
      <td data-column="DELETE"><a href="{% url 'automatic'  %}"><i class="fa fa-trash"  style="font-size:25px;color:#ff414d"></a></i></td>-->
      </tr>
        {% endfor %}
    </tbody>
   
     </table>
  
<center>
<a href="{% url 'save_automatic' %}" <button class="btn btn-secondary" >CONTINUE&nbsp;</button></a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'send_email' %}" <button class="btn btn-success" >SEND&nbsp;EMAIL</button></a>
</center>
{% endblock content %}
