{% extends 'schedule/adminstart.html' %}
{% block content %}
<br><br><br>
 <div  class="row">
  <div class="col-sm-3"></div>
  
  <div class="col-md-6">
   <div class="card" style="width: 120%">
      <div class="card-header text-center text-info" ><h4>UPDATE HERE</h4></div>
     <form action="{% url 'update' data.id %}" method="POST">
          {% csrf_token %}
      <div class="card-body text-center">
            <h3>ENTERED EXAM ID IS:&nbsp;{{ x.id }}</h3>
                  
            <br>
             <label class="inden">ROOM : </label>
              
                    <select name="room"  id="id">
                      <option value="{{data.room.roomno}}" selected>{{data.room.roomno}}</option>
      	            {% for i in z %}
                    <option>{{ i.roomno}}</option>
                    {% endfor %}
                    </select>
           <br>

          <label class="inden">FACULTY&nbsp;1:  </label> 
                
                      <select name="fname"  id="id">
                          <option value="{{data.fna1.fname}}" selected>{{ data.fna1.fname }}</option>
                         {% for i in y %}
                         <option >{{ i.fname }}</option>
                        {% endfor %}
                      </select>
            <br>
            <label class="inden">FACULTY&nbsp;2:  </label> 
                
                      <select name="fna2"   id="id">
                         <option value="{{data.fna2}}" selected>{{data.fna2}}</option>
                         {% for i in y %}
                         <option >{{ i.fname }}</option>
                        {% endfor %}
                      </select>
            <br>
      <label class="inden">SEMESTER :  </label>
       <input type="text" name="sem" value="{{x.semester}}" placeholder="enter semester ('1-2') ">
      <br>
       <label class="inden">SUBJECT :</label>
       <input type="text" name="sub" value="{{x.subject}}" placeholder="enter subject ">
       <br>
         <label class="inden">DEPARTMENT :</label>

         <select name = "dept" id ="dept">
           <option value="{{x.dept}}" selected>{{x.dept}}</option>
           <option>CSE</option>
           <option>ECE</option>
           <option>EEE</option>
           <option>IT</option>
         </select>
         
        
      </select>
   <br>
       </div>
    <div class="card-footer text-center" >
      
      <a href="{% url 'timetable' %}" <button class="btn btn-secondary" >Go&nbsp;Back</button></a> &nbsp; &nbsp;  &nbsp;
      <button class="btn btn-primary">UPDATE</button>
     

    </div>
       
    </form>
    </div>
  </div>
 </div>

{% endblock content %}