{% extends 'schedule/adminstart.html' %}
{% block content %}
<center>
   <br><br><br>
    <div class="title">
      <h1>FACULTY CONSTRAINTS</h1>
    </div>
</center>
    <br>
<table class="mytable">
  <tr class="header">
    <th>FACULTY NAME</th>
    <th>NOT&nbsp;AVAILABLE&nbsp;ON:</th>
    <th>Delete</th>
  </tr>
  <tbody>
    {% for i in data %} 
    <tr>
      <td data-column="FACULTY NAME">{{i.cname}}</td>
      <td >
        <label >{{i.cdate}}</label> 
      </td>
    
   
    <td><a href="{% url 'delet' i.id  %}"><button class="btn btn-danger" >DELETE</button></a></td>
   {% endfor %}
   </tr>
  </tbody>

</table> 
</form>
</div>
</div>
</div>
<center>
 <a href="{% url 'timetable' %}" <button class="btn btn-info" >TIMETABLE</button></a>
 </center>
{% endblock content %}
