<div class="container-fluid">
<nav class="navbar navbar-expand-md navbar-dark">

 <!---------<a class="navbar-brand" href="">.....</a>-->
 <!-- <img src="/static/images/emblem.png"alt="emblemimg"> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav ml-auto">

         <li class="nav-item">
            <a class="nav-link" href="{% url 'first' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin1' %}">Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'fac' %}">Faculty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'stud' %}">Student</a>
        </li>
         
        <li class="nav-item">
            <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
        </li>
    </ul>
    </div>
</nav>
</div>

