{% load static %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
  
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
       <link rel="stylesheet"  href="{% static   'css/sheet1.css' %}">
     </head>

    <body style="  
  background-image: linear-gradient(to right,   rgb(118, 219, 209,0.1), rgb(118, 219, 209,1));">


      <div class="menubar">
        
  <ul>
    <li style="font-size: 24px;">EXAM-INVIGILATOR ASSIGNMENT SYSTEM</li>
    <li >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li><a href="{% url 'timetable2' %}">INVIGILATION DUTIES</a></li>
    <li><a href="{% url 'home' %}">LOGOUT</a></li>
  </ul>
  </div>
  {% include 'schedule/messages.html' %}

<br><br>
	  <div  class="row">
     <div class="col-sm-2"></div>
  
    <div class="col-md-8">
     <div class="card">
    <div class="card-header text-center text-success" ><h5>REQUEST ADMIN</h5></div>
    <form action="{% url 'request' %}" method="POST">
    	{% csrf_token %}
    	 <div class="card-body text-center">
        <label style="padding-right:13px ;width: 20% ;font-size:20px">Enter your id :</label>
       <input type="number" name="id" placeholder="enter ID"><br>
       <label style="padding-right:13px ;width: 20% ;font-size:20px">Enter Date you don't want to invigilate&nbsp; :</label>
       <input type="date" name="date" placeholder="enter date ">
       <br><br>
      <button class="btn btn-success"> SUBMIT</button>

    	 </div>
    </form>
	</div>
</div>

</body>