{% extends 'schedule/adminstart.html' %}

{% block content %}
 <div class="container pt-3">
  <div class=" col-md-12">
   <div class="row d-flex justify-content-between">   
   <div class="col-sm-3 mt-3">
    <a href="#"><img src="/static/images/{{ info.Schedule }} " style="width:750px;height:500px" ></a>
<br><br>
    <label class="text-primary" >SECTION &nbsp;NAME: &nbsp;{{info.Section}}</label>
    <br><br>
    <a href="{% url 'facstatus' %}" class="btn btn-info">Goback</a> &nbsp;&nbsp;
    <a href="{% url 'deltt' info.Section %}" class="btn btn-danger">Delete</a>
  </div>

 </div>
 </div>
</div>

{% endblock content%}
